header{
    display: flex;
    text-decoration: none;
}

.snitch{
    width: 100px
}
h1{
    background-color: bisque;
    color: cadetblue;
    font-size: 48px;
}
h2{
    font-size: 21px;
}
.friends{
    width:20rem;
}